$spacer: 2px;
$heading-font-family: Gilroy, "Product Sans", "Google Sans", Roboto, sans-serif;

@import "~vuetify/src/styles/styles.sass";

$headings: map-merge($headings, (
  h5: map-merge(
    map-get($headings, "h5"),
    ("letter-spacing": -.02rem)
  ),
  h6: map-merge(
    map-get($headings, "h6"),
    ("letter-spacing": -.02rem)
  ),
  "body-1": map-merge(
    map-get($headings, "body-1"),
    ("size": .875rem)
  ),
  "body-2": map-merge(
    map-get($headings, "body-2"),
    ("size": .8125rem)
  ),
  caption: map-merge(
    map-get($headings, "caption"),
    ("letter-spacing": 0.01rem)
  )
));
$material-light: map-merge($material-light, (
  "background": map-get($shades, "white"),
));
$material-dark: map-merge($material-dark, (
  "background": #202124,
  "cards": #202124,
));
$border-radius-root: 2px;
$btn-outline-border-width: 1px;
$tooltip-font-size: 12px;
$icon-outlined-border-width: 1px;
$list-item-min-height: 36px;
$timeline-dot-small-size: 7px;
$timeline-item-padding: 4px;
$timeline-divider-width: 17px;
$timeline-line-width: 1px;