@import "~vuetify/src/styles/styles.sass";

$heading-font-family: "PT Sans" !important; /* doesn't work */
$material-light: map-merge($material-light, (
  "background": map-get($shades, "white"),
));
$material-dark: map-merge($material-dark, (
  "background": #202124,
  "cards": #202124,
));
$btn-border-radius: 2px;