/**********************
 * ROBOTO FONT FAMILY *
 **********************/

/* roboto-100normal - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 100;
  src:
    local("Roboto Thin"),
    local("Roboto-Thin"),
    url("assets/fonts/roboto-latin-100.woff2") format("woff2"), /* Super Modern Browsers */
    url("assets/fonts/roboto-latin-100.woff") format("woff"); /* Modern Browsers */
}

/* roboto-100italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: block;
  font-weight: 100;
  src:
    local("Roboto Thin Italic"),
    local("Roboto-ThinItalic"),
    url("assets/fonts/roboto-latin-100italic.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-100italic.woff") format("woff");
}

/* roboto-300normal - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src:
    local("Roboto Light"),
    local("Roboto-Light"),
    url("assets/fonts/roboto-latin-300.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-300.woff") format("woff");
}

/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: block;
  font-weight: 300;
  src:
    local("Roboto Light Italic"),
    local("Roboto-LightItalic"),
    url("assets/fonts/roboto-latin-300italic.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-300italic.woff") format("woff");
}

/* roboto-400normal - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    local("Roboto Regular"),
    local("Roboto-Regular"),
    url("assets/fonts/roboto-latin-400.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-400.woff") format("woff");
}

/* roboto-400italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src:
    local("Roboto Regular Italic"),
    local("Roboto-RegularItalic"),
    url("assets/fonts/roboto-latin-400italic.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-400italic.woff") format("woff");
}

/* roboto-500normal - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("assets/fonts/roboto-latin-500.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-500.woff") format("woff");
}

/* roboto-500italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: block;
  font-weight: 500;
  src:
    local("Roboto Medium Italic"),
    local("Roboto-MediumItalic"),
    url("assets/fonts/roboto-latin-500italic.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-500italic.woff") format("woff");
}

/* roboto-700normal - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("assets/fonts/roboto-latin-700.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-700.woff") format("woff");
}

/* roboto-700italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src:
    local("Roboto Bold Italic"),
    local("Roboto-BoldItalic"),
    url("assets/fonts/roboto-latin-700italic.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-700italic.woff") format("woff");
}

/* roboto-900normal - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src:
    local("Roboto Black"),
    local("Roboto-Black"),
    url("assets/fonts/roboto-latin-900.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-900.woff") format("woff");
}

/* roboto-900italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: block;
  font-weight: 900;
  src:
    local("Roboto Black Italic"),
    local("Roboto-BlackItalic"),
    url("assets/fonts/roboto-latin-900italic.woff2") format("woff2"),
    url("assets/fonts/roboto-latin-900italic.woff") format("woff");
}

/**********************
 * GILROY FONT FAMILY *
 **********************/

/* Gilroy-100normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 100;
  src:
    local("Gilroy Thin"),
    local("Gilroy-Thin"),
    url("assets/fonts/Gilroy-Thin.woff2") format("woff2"), /* Super Modern Browsers */
    url("assets/fonts/Gilroy-Thin.woff") format("woff"); /* Modern Browsers */
}

/* Gilroy-100italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 100;
  src:
    local("Gilroy Thin Italic"),
    local("Gilroy-ThinItalic"),
    url("assets/fonts/Gilroy-ThinItalic.woff2") format("woff2"),
    url("assets/fonts/Gilroy-ThinItalic.woff") format("woff");
}

/* Gilroy-300normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src:
    local("Gilroy Light"),
    local("Gilroy-Light"),
    url("assets/fonts/Gilroy-Light.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Light.woff") format("woff");
}

/* Gilroy-300italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 300;
  src:
    local("Gilroy Light Italic"),
    local("Gilroy-LightItalic"),
    url("assets/fonts/Gilroy-LightItalic.woff") format("woff2"),
    url("assets/fonts/Gilroy-LightItalic.woff2") format("woff");
}

/* Gilroy-400normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src:
    local("Gilroy Regular"),
    local("Gilroy-Regular"),
    url("assets/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Regular.woff") format("woff");
}

/* Gilroy-400italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src:
    local("Gilroy Regular Italic"),
    local("Gilroy-RegularItalic"),
    url("assets/fonts/Gilroy-RegularItalic.woff2") format("woff2"),
    url("assets/fonts/Gilroy-RegularItalic.woff") format("woff");
}

/* Gilroy-500normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src:
    local("Gilroy Medium"),
    local("Gilroy-Medium"),
    url("assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Medium.woff") format("woff");
}

/* Gilroy-500italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 500;
  src:
    local("Gilroy Medium Italic"),
    local("Gilroy-MediumItalic"),
    url("assets/fonts/Gilroy-MediumItalic.woff2") format("woff2"),
    url("assets/fonts/Gilroy-MediumItalic.woff") format("woff");
}

/* Gilroy-700normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    local("Gilroy Bold"),
    local("Gilroy-Bold"),
    url("assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Bold.woff") format("woff");
}

/* Gilroy-700italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src:
    local("Gilroy Bold Italic"),
    local("Gilroy-BoldItalic"),
    url("assets/fonts/Gilroy-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/Gilroy-BoldItalic.woff") format("woff");
}

/* Gilroy-900normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 900;
  src:
    local("Gilroy Black"),
    local("Gilroy-Black"),
    url("assets/fonts/Gilroy-Black.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Black.woff") format("woff");
}

/* Gilroy-900italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 900;
  src:
    local("Gilroy Black Italic"),
    local("Gilroy-BlackItalic"),
    url("assets/fonts/Gilroy-BlackItalic.woff2") format("woff2"),
    url("assets/fonts/Gilroy-BlackItalic.woff") format("woff");
}