/* Gilroy-500normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local("Gilroy Medium"),
    local("Gilroy-Medium"),
    url("/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("/fonts/Gilroy-Medium.woff") format("woff");
}

/* Gilroy-700normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local("Gilroy Bold"),
    local("Gilroy-Bold"),
    url("/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("/fonts/Gilroy-Bold.woff") format("woff");
}