/**********************
 * ROBOTO FONT FAMILY *
 **********************/


/**********************
 * GILROY FONT FAMILY *
 **********************/


/* Gilroy-500normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src:
    local("Gilroy Medium"),
    local("Gilroy-Medium"),
    url("assets/fonts/Gilroy-Medium.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Medium.woff") format("woff");
}

/* Gilroy-500italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 500;
  src:
    local("Gilroy Medium Italic"),
    local("Gilroy-MediumItalic"),
    url("assets/fonts/Gilroy-MediumItalic.woff2") format("woff2"),
    url("assets/fonts/Gilroy-MediumItalic.woff") format("woff");
}

/* Gilroy-700normal - latin */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src:
    local("Gilroy Bold"),
    local("Gilroy-Bold"),
    url("assets/fonts/Gilroy-Bold.woff2") format("woff2"),
    url("assets/fonts/Gilroy-Bold.woff") format("woff");
}

/* Gilroy-700italic - latin */
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src:
    local("Gilroy Bold Italic"),
    local("Gilroy-BoldItalic"),
    url("assets/fonts/Gilroy-BoldItalic.woff2") format("woff2"),
    url("assets/fonts/Gilroy-BoldItalic.woff") format("woff");
}
